.container {
  margin-top: 6.5em;
  background-color: black;
  display: flex;
  height: 80%;

  justify-content: center;
  h4 {
    text-align: center;
    color: white;
    font-size: 2.3rem;
    padding-bottom: 2rem;
  }
  .content-container {
    padding: 2em;
    width: 100%;
    max-height: calc(84vh - 152px);
    height: 100%;
    max-width: 1200px;
  }
}
