.container {
  display: flex;
  margin-top: 6rem;
  justify-content: flex-end;
  width: 100%;
  max-height: calc(100vh - 152px);
  height: 100%;
  transition: 0.8s linear all;
  opacity: 0;
  transform: translateY(100px);
  .content-container {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    gap: 3rem;

    .gallery-container {
      max-width: 65%;
      width: 100%;
      position: relative;

      img {
        height: 100%;

        object-fit: cover;
        width: 100%;
      }
    }
  }
}
.text-container {
  position: relative;
  max-width: 30rem;
  text-align: left;
  line-height: 1.6;
  padding-top: 2rem;
  h4 {
    font-size: 5rem;
    padding-bottom: 2rem;
  }
  p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.discover-wrapper {
  &::after {
    content: "";
    border-bottom: 4px solid black;
    display: block;
    margin: auto;
    margin-top: 6.5em;
    max-width: 50rem;

    background-color: black;
  }
}

.arrow-left {
  position: absolute;
  border: none;
  z-index: 2;

  background-color: transparent;
  width: 60px;
}
.arrow-left-0 {
  left: 20px;
  bottom: 20px;
}
.arrow-right-0 {
  left: 100px;
  bottom: 20px;
}
.arrow-right-2 {
  left: 100px;
  bottom: 20px;
}
.arrow-left-2 {
  left: 20px;
  bottom: 20px;
}
.arrow-left-1 {
  right: 120px;
  bottom: 20px;
}
.arrow-right-1 {
  right: 30px;
  bottom: 20px;
}
.arrow-right {
  position: absolute;
  border: none;
  z-index: 1;

  background-color: transparent;
  width: 60px;
}
